[Unit]
Description=Robust delayed load & self-healing retry of btusb for Realtek RTL8852BE
Documentation=https://wiki.archlinux.org/title/Bluetooth
After=systemd-modules-load.service systemd-udev-settle.service NetworkManager.service
Before=bluetooth.service bluetooth.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/btusb-delayed-loader.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
